 
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }} app is running!</span>
  </div>

  <!-- String Interpolation-->
  <h2>{{2+2}}</h2>
  <h2>{{"Welcome " + name}} </h2>
  
  <h2>{{name.length}}</h2>
  <h2>{{name.toUpperCase()}}</h2>

  <h2>{{displayUserName()}}</h2>

  <!--Math operations-->
  <h3>First Number is : {{firstNumber}}</h3>
  <h3>Second Number is : {{secondNumber}}</h3>
  <h3>Addition is: {{addition()}}</h3>
  <h3>Subtraction is : {{subtraction()}}</h3>
  <h3>Multiplication is : {{multiply()}}</h3>
  <h3>Division is : {{devide()}}</h3>

  <h3>
    <ul>
      <li *ngFor = "let book of Books">
        {{book}}
  
      </li>
    </ul>
  </h3>

  <!-- Property Binding-->
  <input [id] = "myId" type="text" value="Divyanshu"> 

  <!-- Example of pipes-->
  
  <h3></h3>
  <h3>{{Line | uppercase}}</h3>
  <h3>{{Line | titlecase}}</h3>
  <h3>{{Line | slice: 9:20}}</h3>
  <h4>{{0.75 | percent}}</h4>
  <h4>{{180545 | currency : 'INR'}}</h4> 
  <h4>{{currentDate}}</h4> 

  <h4>{{currentDate | date: 'short'}}</h4>
  <h4>{{currentDate | date: 'medium'}}</h4>
  <h4>{{currentDate | date: 'long'}}</h4>
  <h4>{{currentDate | date : 'longTime'}}</h4>
</div>



<router-outlet></router-outlet>